@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.comm-head, .order-form{

    color: black;
    text-shadow: deepskyblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
body{
    background-color: lightcyan;
    font-family: 'Montserrat', sans-serif;
}
input {
    border: 1px solid black;
    border-radius: 14px;
    box-shadow: 2px 2px 2px deepskyblue;
    text-align: center;
}
button {
    color: lightskyblue;
    text-align: center;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.comm-head{
    font-size: 48px;
}